@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input {
    padding: 10px;
    border-radius: 5px;
}

select {
    padding: 10px;
    border-radius: 5px;
}

.poke__card {
    width: 18%;
}

.poke__img{
    height: 308px;
    width: 100%;
}

.poke__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal__form{
    position: absolute;
    content: "";
    top: -100px;
    width: 100%;
    height: 105vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

.modal__img {
    width: 50%;
}

.modal__desc {
    width: 50%;
}